<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<div layout:fragment="content">
	<div class="w-100 text-center">
			<div class="container">
				<div class="row m-2">
					<div class="col-3 p-2" th:each = "list : ${productList}"> 
						<div class="card product-list" th:onclick="|location.href='@{/product/{id} (id = ${list.pid})}'|">	
							<img th:src="'/bootPractice/attach/'+ ${list.thumbnail[0].save_name} + ${list.thumbnail[0].extension}" class="card-img-top"/>
							<div class="card-body">
								<h6 class="card-title" th:text="${list.pname}"></h6>
								<span class="card-text" th:text="${list.price}"></span>원
								<span class="badge text-danger" th:unless="${#strings.equals(list.status, 'FOR_SALE')}" th:text="${list.status.getStatus()}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		 	<nav
		 		th:with ="pageNumber = ${productList.pageable.pageNumber},
		 				pageSize = ${productList.pageable.pageSize},
		 				totalPages = ${productList.totalPages},
		 				startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize+1},
		 				tempEndPage = ${startPage + pageSize -1},
		 				endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})" 
		 		aria-label="Page navigation">
			  <ul class="pagination justify-content-center">
			    <li class="page-item" th:class ="${productList.first} ? 'd-none'">
			    	<a class="page-link" th:href="${productList.first} ? '#' : @{/products/{category}/{subCategory}(category=${curCategory}, subCategory=${curSubCategory}, page=${pageNumber})}">
        				<span aria-hidden="true">&lt;</span>
      				</a>
      			</li>
			    <li class="page-item" th:each="p: ${#numbers.sequence(startPage, endPage)}" th:class="${p == productList.number+1} ? 'active'">
			<!--     	<p th:text="${p}"></p>
			    	<p th:text="${startPage}"></p>
			    	<p th:text="${endPage}"></p>
			    	<p th:text="${productList.number}"></p>
			    	<p th:text="${pageNumber}"></p>
			    	<p th:text="${productList.first}"></p>
			    	<p th:text="${productList.last}"></p>
			    	<p th:text="${totalPages}"></p> -->
			    	<a class="page-link" th:text="${p}" th:href="@{/products/{category}/{subCategory}(category=${curCategory}, subCategory=${curSubCategory}, page=${p})}"></a>
			    </li>
			    <li class="page-item" th:class="${productList.last} ? 'd-none'">
			      <a class="page-link" th:href="${productList.last} ? '#' : @{/products/{category}/{subCategory}(category=${curCategory}, subCategory=${curSubCategory}, page=${pageNumber+2})}">
			        <span aria-hidden="true">&gt;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
	</div>
	<script th:inline="javascript">
		$(document).ready(function(){
			var msg = [[${msg}]];
			if(msg) {
				alert(msg);
			}
		});
	</script>
</div>
</html>