<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <th:block layout:fragment="css">
		<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet"> 
	</th:block>
	<th:block layout:fragment ="script">
		<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
		<script src=" https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js"></script>
	</th:block>
<div layout:fragment="content">
	<div class="container justify-content-center text-center p-4">
		<h2 th:text="상품구매"></h2>
		<form class="w-70 p-4 mx-auto justify-content-center row" method="post" 
					th:action="@{/purchase(${_csrf.parameterName}=${_csrf.token})}" th:object="${order}">
			<div class='row p-4 w-75'>
				<h5>주문 상품</h5>
				<input type='hidden' name='num'/>
				<input type='hidden' name='productId'/>
				<div class='product-name col-4 font-weight-bold'></div>
			</div>
			<hr class='w-75'>
			<div class='row p-4 w-75'>
				<h5>배송지 정보</h5>
				<div class="row w-100 justify-content-center" sec:authorize="hasAnyRole('ROLE_USER')">
					<input type="radio" name="receive-address" value="default" checked="checked"/>기본 배송지
					<input type="radio" name="receive-address" value="direct" />직접 입력
				</div >
				<div class="row w-75">
					<input type="text" name="receiver-name" class="form-control col-8 m-2" placeholder="주문자 이름"/><br>
				</div>
				<div class="row w-75">
					<input type="text" name="receiver-phone" class="form-control col-8 m-2" placeholder="주문자 전화번호"/><br>
				</div>
				<div class="row w-75">
					<input type="text" name="postcode" class="form-control col-4 m-2" placeholder="우편번호"/>
					<input type="button" id="daum-address" class="btn btn-outline-dark col-3 m-2" value="우편번호 찾기"/><br>
				</div>
				<div class="row w-75">
					<input type="text" name="address" class="form-control col-8 m-2" placeholder="주소"/><br>
				</div>
				<div class="row w-75">
					<input type="text" name="detail-address" class="form-control col-8 m-2" placeholder="상세주소"/>
				</div>
			</div>
			<hr class='w-75'>
			<div class='row p-4 w-75'>
				<h5>결제</h5>
			</div>
			<button type='button' name='order-btn' class='row btn btn-outline-dark btn-block w-50 mx-auto'>구매하기</button>
		</form> 
	</div>
	<script th:inline="javascript">
		$(document).ready(function(){
			var msg = [[${errorMsg}]];
			if(msg) {
				alert(msg);
			}
		});
	</script>
	<script>
	$(document).ready(function(){
		if($("input[name='receive-address']:checked").val() === 'default'){
			getAddress();
		}
	});
	$("input[name='receive-address']").change(function(){
		if($("input[name='receive-address']:checked").val() === 'default'){
			getAddress();
		}
	});
	function getAddress() {
		$.ajax({
			type : "GET",
			url : "/api/address",
			processData : false,
			success : function(data, status) {
				console.log(data);
				if(status =='success'){
					$("input[name='postcode']").val(data.postcode);
					$("input[name='address']").val(data.address);
					$("input[name='detail-address']").val(data.detail_address);
				}
			}
		});
	}

	</script>
</div>
</html>