<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
	<h3 class="text-center m-4" th:text="'회원 정보'"></h3>
	<div class="container w-50 text-center mt-4">
		<div class="">
			<div class="p-1 m-4" sec:authorize="isAuthenticated()">
				<h5 class="text-center" th:text="${member.member.name}"> </h5>님 
			</div>
		</div>
	</div>
</div>
</html>