<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout2}">
<div layout:fragment="content">
	<div class="p-2">
		<h3 class="text-center p-4">주문 내역</h3>
		<div id="order-list">
			<div class='row p-4 w-100 mb-2 justify-content-center' th:each = "order : ${list}">
				<div class='row p-4 w-100' >
					<div class='col-6 h6 font-weight-bold text-left' th:text="${#dates.format(order.order_date, 'yyyy.MM.dd.')}"></div>
					<a class='col-6 h6 font-weight-bold text-right' th:href="@{/order/{orderId}(orderId = ${order.id})}">상세내역보기</a>
				</div>
				<div class='row p-4 w-100' th:each ="m :${order.orderDetail}">
					<span class='product-thumbnail col-3'>
						<img th:src="'/bootPractice/attach/' +${m.productId.thumbnail[0].save_name}+${m.productId.thumbnail[0].extension}" class='img-thumbnail order-form-img p-2'/>
					</span>
					<div class='col-3'>
						<div class='product-name' th:text="${m.productId.pname}"></div>
						<div class='product-count'>수량 : <span th:text="${m.count}"></span> 개</div>
						<div class='product-price font-weight-bold'><span th:text="${m.price}"></span> 원</div>
					</div>
					<div class='col-6'>
						<div th:if="${#strings.equals(m.status, 'Delivered')}">
							<button type="button" class="btn btn-outline-dark btn-block w-50 mx-auto">재구매</button>
							<button type="button" class="btn btn-outline-dark btn-block w-50 mx-auto">리뷰 작성</button>
						</div>
						<div th:unless="${#strings.equals(m.status, 'Delivered')}">
							<div th:text="${m.status.getStatus()}"></div>
						</div>
						<div th:unless="${#strings.equals(m.status, 'Processed')}">
							<button type="button" class="btn btn-outline-dark btn-block w-50 mx-auto">배송조회</button>
						</div>
					</div>
				</div>
				<hr class='w-100'>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		$(document).ready(function(){
			var msg = [[${errorMsg}]];
			if(msg) {
				alert(msg);
			}
		});
	</script>
</div>
</html>