@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@media screen and (min-width: 1200px){
	.main-slider{height:80vh}
	.product-list img{height:200px}
	.product-info-img{height:400px;}
	.order-form-img{width:100px; height:100px;}
}
@media screen and (max-width: 1000px){
	.main-slider{height:40vh}
	.product-list img{height:100px}
	.product-info-img{height:300px;}
	.order-form-img{width:100px; height:100px;}
}
@media screen and (max-width: 768px){
	.main-slider{height:30vh}
	.product-list img{height:100px}
	.product-info-img{height:200px;}
	.order-form-img{width:100px; height:100px;}
}
body{height:100%;margin:0;padding:0;}
#content{min-height:100vh;}
li.dropdown:hover > ul.dropdown-menu {display:block; margin:0;}
.product-name:hover{cursor:pointer;color:blue;}
#review-form input[type=radio]{display:none;}
#review-form label{
	font-size:2em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#review-form fieldset{
    display: inline-block;
    border: 0; 
}
#review-form label:hover{
    text-shadow: 0 0 0 #FFE900; 
}
#review-form label:hover ~ label{
    text-shadow: 0 0 0 #FFE900; 
}
#review-form fieldset{
    display: inline-block; 
    direction: rtl;
    border: 0;
}
#review-form input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #FFE900;
}